div(class=`${style['context-menu']}`)
    div(class=`${style['grid-selector']}` data-grid-id=gridId)
        div(class=`${style['grid-container']}`)
            div(class=`${style['grid']}` style=`grid-template-columns: repeat(${gridConfig.columns}, 1fr); grid-template-rows: repeat(${gridConfig.rows}, 1fr);`)
                - for (let row = 1; row <= gridConfig.rows; row++)
                    - for (let col = 1; col <= gridConfig.columns; col++)
                        div(class=`${style['grid-cell']}` data-row=row data-col=col)